<h1 class="center">Welcome to Dogtography</h1>
<h3 class="center">Capture Priceless Images of Your Best Friend</h3>
<h5 class="center"><%= link_to "Explore Our Photo Packages", packages_path %>

<%= image_tag 'dog.jpg', :class => 'padded-image' %>
